h1{
    color:#ffefaf;
    text-align: center;
    text-shadow:black 1px 0 10px;
    background: #765034;
}

h2{
    color:#765034;
    font-family: cursive;
	color:#3f3faf;
	background:linear-gradient(to right,white,#ffefaf);
	margin: 5px;
}
body{
     background: #89c997;
}
